django-filer
easy-thumbnails
html5lib
jsonfield
django-reversion
djangocms-text-ckeditor
beautifulsoup4
django>=4.2.14 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
